

     .galery {
       display:flex;
       justify-content: center;
       gap: 3rem;
  
          .galery-img{
           max-width:40em;
           text-align: center;
          align-content: center;

          // .galery-titulo{
          //   padding: 1rem;
          //   margin-top: 2rem;
          //   margin-bottom: 2rem;
          // }
  
  }

}