.contenedor-barras {
    list-style: none;
    padding: 1rem;
       .barra{
         border: #F7F0F0 solid ;
         margin: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #EFFD6D,
        0 0 0.8rem #EFFD6D,
        0 0 2.8rem #EFFD6D,
        inset 0 0 1.3rem #EFFD6D;
}
           
  }

 