
   .banner-img{
    position: relative;;
  }
  .banner-titulo{
   font-family:'scriptina';
   font-size: 5em;
   position: absolute;
   top: 70%;
   left: 50%;
   display: flex;
   transform: translate(-50%, -50%);
   animation: neon-efecto 3s infinite;
   text-align: justify;
   bottom: 30%;
 
  }
  .banner{
    text-align: center;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
   .pagina-principal-presentacion{
     display: flex;
     flex-direction: column;
     text-align: start;
  }
   
    .contenedor-img-index{
   
           .img-index{
            display: flex;
             justify-content: end;
             float: right;
             max-width: 400px;
             margin-right: 2em; 
             .parrafo-imagen{
                  font-size: 1rem;
                   } 
             }
  
  }
  
  @media screen and (max-width:1400px) {
     .parrafo-imagen{
       font-size: 1.2rem;
     }
     h1{
       font-size: xx-large;
     }
     .img-index{
       max-width: 450px;
     }
   
     .banner-titulo{
     
       top: 70%;
       left: 50%;
       font-size: 7em;
       bottom: 30%; 
   } 
  }
   @media screen and (max-width: 992px) {
     .parrafo-imagen{
       font-size: 1rem;
     }
     h1{
       font-size: x-large;
     }
     .img-index{
       max-width: 300px;
     }
   
     .banner-titulo{
     
       top: 50%;
       left: 50%;
       font-size: 5em;
       bottom: 50%; 
   } 
  }
   @media screen and (max-width: 772px) {
     .parrafo-imagen{
       font-size: 0.8rem;
     }
     .img-index{
       max-width: 200px;
     }
    
     .banner-titulo{
     
       top: 50%;
       left: 50%;
       font-size: 3.7em;
       bottom: 55%; 
   }
  }
   @media screen and (max-width: 576px) {
     .parrafo-imagen{
       font-size: 0.6rem;
     }
     .img-index{
       max-width: 150px;
     }
    
   
     .banner-titulo{
     
       top: 50%;
       left: 50%;
       font-size: 2.5em;
       bottom: 60%; 
   }
   }   
  
  
    